* {
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 28px;
  background-color: #fff;
}

@media screen and (min-width: 992px) {
  body {
    width: 100%;
    height: 100%;
  }

  section.headline {
    background-image: url(images/Desktopimages/Header-llustration-desktop.svg);
    background-size: 100%;
    background-position-y: 0;
    width: 80%;
    height: 1434.3px;
    top: -398px;
    left: 27px;
    z-index: -20;
  }

  .header-top {
    margin-top: -53px;
  }

  .container-header {
    max-width: 50%;
  }

  .container-header h1 {
    animation: example;
    animation-duration: 4s;
  }

  @keyframes example {
    from { background-color: #172b4d; }
    to { background-color: #008552; }
  }

  .pre-content {
    max-width: 50%;
  }

  section.recent-works {
    margin-top: -413px;
  }

  .portfolio-section {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-items: center;
    margin: auto 0;
    max-width: 100%;
    gap: 24px;
  }

  .indicator-image {
    display: none;
  }

  .portfolio-section .portfolio-product {
    margin: 20px 0;
  }

  section.about-sect {
    padding-bottom: 12px;
  }

  section.about-sect p {
    max-width: 773px;
  }

  section.about-sect .portfolio-lang-box {
    display: flex;
    gap: 24px;
    margin: 52px 0;
    justify-content: center;
  }

  section.about-sect .portfolio-lang {
    margin: 0;
  }

  .background-container {
    background-image: url(images/BackgroundImages/Backgroundimage.png);
    background-size: 100% 100%;
    padding: 2%;
  }

  section.work {
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 95px;
    gap: 24px;
    margin: 100px 12px;
  }

  section.work .duty {
    width: 60%;
    font-weight: 500;
    text-align: left;
  }

  .form-page {
    width: 50%;
  }

  .form-page input,
  .form-page textarea {
    width: 100%;
  }

  .form-page button {
    align-self: flex-start;
  }

  .social-media-icons {
    max-width: 12.5%;
  }

  .d-none {
    display: none;
  }

  .desktop-nav {
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 300px;
    align-items: center;
    margin-top: 12px;
    justify-content: space-between;
  }

  .desktop-nav .nav-link {
    display: flex;
    align-items: center;
    gap: 32px;
    justify-content: space-between;
    margin: auto;
  }

  .desktop-nav .nav-link .nav-links {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: #344563;
    margin: 0 auto;
  }

  .desktop-nav ul li a {
    text-decoration: none;
  }

  header {
    position: relative;
    left: 350px;
    top: 0;
  }

  .click {
    width: 129px;
    height: 48px;
    background-color: #36b37f;
    transition: width 2s linear 2s;
  }
}

header {
  height: 44px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 10px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 5px;
}

.d-flex {
  display: flex;
}

.d-flex-col {
  flex-direction: column;
}

.headline {
  background-image: url(images/Header-illustration.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  align-items: center;
  padding: 64px 24px;
  padding-top: 0;
}

.menu-container {
  display: block;
  width: 100%;
}

.some-image {
  width: 100%;
  display: inline-block;
}

.action {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.header-welcome {
  margin-left: 24px;
}

nav {
  margin-right: 35px;
}

.desktop-nav {
  display: none;
}

main {
  margin-top: 44px;
}

.container-header {
  align-items: center;
  text-align: center;
  width: 84%;
  margin-top: 0;
  top: 64px;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 16px;
}

.container-header h1,
.container-header h2 {
  line-height: 60px;
  font-weight: 800;
  font-size: 48px;
  color: #172b4d;
  margin: 186px 24px;
  text-align: center;
  vertical-align: top;
}

.container-header h2 {
  color: #43b886;
  margin-top: -192px;
  margin-bottom: 0;
}

.pre-content {
  width: 84%;
  font-size: 20px;
  text-align: center;
  color: #172b4d;
  margin: 24px 0 34px 0;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.arrow-btn {
  width: 84%;
  align-items: center;
  margin-top: 64px;
}

.text {
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  vertical-align: middle;
  color: #172b4d;
}

.text h4 {
  display: block;
}

.social-media-icons {
  display: flex;
  justify-content: space-between;
  height: 20px;
  width: 43.26%;
  padding-left: 10px;
}

.indicator-image {
  width: 48px;
  height: 48px;
  margin: 0 auto;
  border-radius: 24px;
}

section.portfolio-section {
  padding: 16px;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.portfolio-product {
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  width: 367px;
  margin: 20px auto;
}

.portfolio-img {
  width: 100%;
  border-radius: 8px 8px 0 0;
  height: 300px;
  background-color: #ebf0ee;
}

.portfolio-ul {
  padding: 0;
  text-align: center;
  list-style-type: none;
  justify-content: space-between;
  margin-top: 16px;
  gap: 12px;
}

.portfolio-elements {
  border-radius: inherit;
  padding: 30px 12px;
  justify-content: center;
  align-items: center;
}

.portfolio-elements h2 {
  color: #3a4a42;
}

.portfolio-li {
  padding: 8px 12px;
  font-weight: 600;
  font-size: 12px;
  background-color: #ebf0ee;
  border-radius: 5px;
  align-content: end;
  color: #3a4a42;
  line-height: 16px;
  float: right;
}

button {
  font-family: 'Inter', sans-serif;
  border: none;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
}

.portfolio-button {
  width: 122px;
  height: 48px;
  margin-top: 24px;
  padding: 12px;
  background-color: #36b37f;
  color: #fff;
  border-radius: 4px;
  text-align: center;
}

a:visited {
  color: #fff;
}

.portfolio-button:hover {
  background-color: #36b37f;
  box-shadow: 0 8px 16px rgb(54, 181, 128, 0.24);
}

.portfolio-button:active {
  background-color: #008552;
}

.background-container .background-container.about-me-img {
  background-image: url(images/illustration\ 1-\ about\ me-mobile.svg);
  background-repeat: no-repeat;
  background-position: left top;
  position: absolute;
  bottom: 0;
  left: 0;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 16px;
}

.background-container .about-me > h3 {
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  margin-bottom: 24px;
  margin-top: 68px;
}

.background-container .about-me > p {
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  align-self: center;
  margin-bottom: 36px;
}

.background-container .about-me .description {
  color: #42526e;
}

.background-container .resume-btn {
  width: 159px;
  height: 48px;
  align-self: center;
  margin-top: 24px;
  padding: 12px;
  background-color: #36b37f;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #36b37f;
  justify-content: center;
}

.background-container .resume-btn:hover {
  background-color: #43b886;
}

.portfolio-lang {
  width: 365px;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  background-color: #ebf0ee;
  margin: 20px auto;
}

.portfolio-globe {
  align-items: center;
  background-color: #ebf0ee;
  width: 100%;
  justify-content: space-around;
  color: #344563;
  min-height: 352px;
}

.globe-img {
  width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 0 16px 24px 0 rgba(37, 47, 137, 0.08);
  margin-top: 40px;
  margin-bottom: 64px;
}

.globe-ul {
  flex-flow: row wrap;
  text-align: center;
  list-style-type: none;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 24px;
  padding: 0 30px;
  gap: 12px;
  color: #36b37f;
}

.globe-li {
  padding: 8px 12px;
  font-weight: 600;
  font-size: 12px;
  background-color: #fff;
  border-radius: 5px;
  align-content: end;
}

.work {
  display: block;
  color: #172b4d;
  position: relative;
  margin: 12px;
  background-image: url(images/illustration-1-contact-form-desktop.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
  bottom: 20px;
}

.work .svg-image {
  position: absolute;
  right: 10px;
  bottom: 60px;
}

.duty {
  width: 327px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  margin: 58px auto;
}

input {
  width: 327px;
  height: 48px;
  border: 2px solid #d0d9d4;
  border-radius: 4px;
  margin: 24px;
  font-size: 16px;
  padding: 15px 16px;
}

textarea {
  width: 327px;
  height: 114px;
  border: 1px solid #60c095;
  border-radius: 4px;
  margin: 24px;
  text-align: left;
  padding: 12px;
  font-weight: 400;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  color: #091e42;
  box-sizing: border-box;
}

.click {
  width: 129px;
  height: 48px;
  top: 12px;
  left: 12px;
  font-weight: 500;
  padding: 12px;
  border: 1px solid;
  background-color: #36b37f;
  border-radius: 4px;
  color: #fff;
  margin-bottom: 24px;
}

.click:hover {
  background-color: #3a4a42;
}

.form-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-page input {
  box-sizing: border-box;
}

.footer-icons {
  border-top: 1px solid #dfe1e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0;
}

.footer-icons .social-media-icons {
  margin: 0 auto;
  padding: 10px 0;
}

.footer-icons .footer-email {
  color: #42526e;
}
