* {
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 28px;
  background-color: #fff;
}

header {
  max-width: 100%;
  height: 44px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 10px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  margin: 10px;
}

.d-flex {
  display: flex;
}

.d-flex-col {
  flex-direction: column;
}

.headline {
  background-image: url(images/Header-illustration.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  align-items: center;
  padding: 64px 24px;
  padding-top: 0;
}

.header-welcome {
  margin: 24px;
}

.menu-container {
  display: block;
  width: 100%;
}

.some-image {
  width: 100%;
  display: inline-block;
}

.action {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

main {
  margin-top: 60px;
}

.container-header {
  align-items: center;
  text-align: center;
  width: 84%;
  margin-top: 10px;
  top: 64px;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 16px;
}

.container-header h1,
.container-header h2 {
  line-height: 52px;
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
  margin-top: 74px;
}

.container-header h2 {
  color: #43b886;
  margin-top: 0;
}

.pre-content {
  width: 84%;
  font-size: 20px;
  text-align: center;
  color: #172b4d;
  margin: 58px 0 58px 0;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.arrow-btn {
  width: 84%;
  align-items: center;
  margin-top: 64px;
}

.text {
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  vertical-align: middle;
  color: #172b4d;
}

.social-media-logos {
  justify-content: space-between;
  height: 20px;
  width: 43.26%;
}

.indicator-image {
  width: 48px;
  height: 48px;
  margin: 0 auto;
  border-radius: 24px;
}

.portfolio-section {
  padding: 16px;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.portfolio-product {
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  width: 367px;
  margin: 20px auto;
}

.portfolio-img {
  width: 100%;
  border-radius: 8px 8px 0 0;
  height: 300px;
  background-color: #ebf0ee;
}

.portfolio-ul {
  padding: 0;
  text-align: center;
  list-style-type: none;
  justify-content: space-between;
  margin-top: 16px;
  gap: 12px;
}

.portfolio-elements {
  border-radius: inherit;
  padding: 30px 12px;
  justify-content: center;
  align-items: center;
}

.portfolio-elements h2 {
  color: #3a4a42;
}

.portfolio-li {
  padding: 8px 12px;
  font-weight: 600;
  font-size: 12px;
  background-color: #ebf0ee;
  border-radius: 5px;
  align-content: end;
  color: #3a4a42;
  line-height: 16px;
  float: left;
}

button {
  font-family: 'Inter', sans-serif;
  border: none;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
}

.portfolio-button {
  width: 122px;
  height: 48px;
  margin-top: 24px;
  padding: 12px;
  background-color: #36b37f;
  color: #fff;
  border-radius: 4px;
  text-align: center;
}

a:visited {
  color: #fff;
}

.portfolio-button:hover {
  background-color: #36b37f;
  box-shadow: 0 8px 16px rgb(54, 181, 128, 0.24);
}

.portfolio-button:active {
  background-color: #008552;
}

.about-me {
  justify-content: center;
  align-items: center;
  background-image: url(images/illustration\ 1-\ about\ me-mobile.svg);
  background-repeat: no-repeat;
  background-position: right top;
  position: relative;
  color: #172b4d;
}

.about-me .about-me-img {
  position: absolute;
  background-repeat: no-repeat;
  background-position: left top;
  bottom: 0;
  left: 0;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 16px;
}

.about-me > h3 {
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  margin-bottom: 24px;
  margin-top: 68px;
}

.about-me > p {
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 36px;
}

.about-me .description {
  color: #42526e;
}

.resume-btn {
  margin-top: 24px;
  padding: 12px;
  background-color: #36b37f;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #36b37f;
  justify-content: center;
}

.resume-btn:hover {
  background-color: #43b886;
}

.portfolio-lang {
  width: 365px;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  background-color: #ebf0ee;
  margin: 20px auto;
}

.portfolio-globe {
  align-items: center;
  background-color: #ebf0ee;
  width: 100%;
  justify-content: space-around;
  color: #344563;
  min-height: 352px;
}

.globe-img {
  width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 0 16px 24px 0 rgba(37, 47, 137, 0.08);
  margin-top: 40px;
  margin-bottom: 64px;
}

.globe-ul {
  flex-flow: row wrap;
  text-align: center;
  list-style-type: none;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 24px;
  padding: 0 30px;
  gap: 12px;
  color: #36b37f;
}

.globe-li {
  padding: 8px 12px;
  font-weight: 600;
  font-size: 12px;
  background-color: #fff;
  border-radius: 5px;
  align-content: end;
}

.globe-details {
  border-radius: inherit;
  padding: 30px 12px;
  justify-content: center;
  align-items: center;
}

input {
  width: 327px;
  height: 48px;
  border: 2px solid #d0d9d4;
  border-radius: 4px;
  margin: 24px;
  font-size: 16px;
  padding: 15px 16px;
}

.form input {
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
}

.formHeading {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

.nameText {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 24px 0;
  width: 315px;
  height: 48px;
  border: 1px solid #d0d9d4;
}

.emailText {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 24px 0;
  width: 315px;
  height: 48px;
  border: 1px solid #d0d9d4;
}

textarea {
  width: 327px;
  height: 114px;
  border: 1px solid #60c095;
  border-radius: 4px;
  margin: 24px 24px 24px 0;
  text-align: left;
  padding: 12px;
  font-weight: 400;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  color: #091e42;
  box-sizing: border-box;
}

.click {
  width: 129px;
  height: 48px;
  top: 12px;
  left: 12px;
  align-items: center;
  font-weight: 500;
  padding: 12px;
  border: 1px solid;
  background-color: #36b37f;
  border-radius: 4px;
  color: #fff;
  margin: 0 0 24px 100px;
}

.click:active {
  background-color: #36b37f;
}

.click:hover {
 background-color: #36b37f;
}
