* {
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 28px;
  background-color: #fff;
}

header {
  width: 100%;
  display: flex;
  height: 44px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.headline {
  background-image: url(images/Header-illustration.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 24px;
  padding-top: 0;
}

.menu-container {
  display: block;
  width: 100%;
}

.header-welcome {
  margin: 24px;
}

.some-image {
  width: 100%;
  display: inline-block;
}

.action {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

main {
  margin-top: 44px;
}

.container-header {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 84%;
  margin: 58px 0;
  margin-top: 24px;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 16px;
}

.container-header h1,
.container-header h2 {
  line-height: 52px;
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
}

.container-header h2 {
  color: #43b886;
}

.pre-content {
  width: 84%;
  font-size: 20px;
  text-align: center;
  color: #172b4d;
  margin: 0 0 58px 0;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.arrow-btn {
  width: 84%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 64px;
}

.text {
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  vertical-align: middle;
  color: #172b4d;
}

.social-media-logos {
  display: flex;
  justify-content: space-between;
  height: 20px;
  width: 43.26%;
}

.indicator-image {
  width: 48px;
  height: 48px;
  display: flex;
  margin: 0 auto;
  border-radius: 24px;
}
